@using SocialWorker.Web.Areas.Administration.ViewModels

@{
    ViewBag.Title = "Users";
    const string ControllerName = "User"; 
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo()
.Grid<UserViewModel>()
.Name("grid")
.DataSource(data =>
    data.Ajax().PageSize(50).Read(read => read.Action("Read", ControllerName)))
    .Columns(columns =>
    { 
        columns.Bound(pr => pr.FirstName);
        columns.Bound(pr => pr.MiddleName);
        columns.Bound(pr => pr.LastName);
        columns.Bound(pr => pr.PersonalNumber);
        columns.Bound(pr => pr.Age);
        columns.Bound(pr => pr.Role);
        
    })
        .Sortable()
        .Pageable( pageable => pageable.ButtonCount(50))
        .Filterable()
)





