@using SocialWorker.Web.ViewModels.Home
@model IEnumerable<MealViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div>
    @foreach (var meal in Model)
    {
        <p>
            @meal.Description
        </p>
    }
</div>